<div class="settings" ng-cloak>
  <div class="row">
  
    <div class="col-sm-3">
      
      <tree-holder>
        <div id="treeholder" class="hidden-print affix-top">
          <digger-tree title="title" filter="folder" iconfn="settings.iconfn" container="tree_root" depth="10" />
        </div>
      </tree-holder>

    </div>


    <div class="col-sm-9">

      <div class="row">
        <div class="col-sm-9">
          <editor-header>
            <div>{{ edit_container | diggername }}</div>
          </editor-header>
          
        </div>
        <div class="col-sm-3" ng-if="mode=='overview'">
          <input type="text" name="query" class="form-control" id="queryfield" ng-model="selector.search" placeholder="search">
        </div>
      </div>      
      <div class="row" ng-if="mode=='overview'">
        <div class="col-sm-12">
          <pagination count="pagination.count" pagesize="pagination.pagesize" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <simple-editor settings="settings" container="edit_container">
          </simple-editor>
        </div>

      </div>

      <div class="row" ng-if="mode=='overview'" ng-show="(!editing && folders.length>0)" style="margin-top:20px;">
        

        <simple-table 
          rows="folders" 
          search="selector.search" 
          iconfn="settings.iconfn" />

      </div>

      <div class="row" ng-if="mode=='overview'" ng-show="(!editing && items.length>0)" style="margin-top:20px;">
      
        <simple-table 
          rows="items" 
          search="selector.search" 
          iconfn="settings.iconfn" />

      </div>


    </div>



  </div>
</div>
