<div>
  <div style="margin:10px 0 0 0;" >
    <h4 ng-show="showform || showdelete || showfolderform">{{ edit_container.models[0].name | ucfirst }}</h4>
  </div>

  <div ng-show="showadd && !showform"  class="pull-left">
    <button class="btn btn-primary" ng-click="addclicked()">Add {{ blueprintname }}</button>
  </div>
  
  <div ng-show="folder_mode && showadd && !showform" class="pull-left" style="margin-left:10px">
    <button class="btn btn-primary" ng-click="editfolderclicked()">Edit {{ itemtype }}</button>
  </div>


  <!--
    delete
   -->
  <div ng-show="showdelete">  

    <div class="well">
      Are you sure you want to delete {{ edit_container.models[0].name }}?
    </div>

    <button class="btn" ng-click="deleteclick(false)">No - Cancel</button>
    <button class="btn btn-danger" ng-click="deleteclick(true)">Yes - Delete</button>
  </div>

  <!--
    form
   -->
  <div ng-show="showform">

      <fieldset>


        <!--
          THIS IS TRANSCLUDED SO YOU CAN PASS ANY FORM
         -->
        <div class="well">
          <div>
            <digger-viewer settings="settings" blueprint="blueprint" container="edit_container" extra_fields="settings.extra_fields" iconfn="settings.iconfn">
            </digger-form>
          </div>

          <div ng-transclude>
          </div>

        </div>
        
        <button class="btn" ng-click="cancelform()">Cancel</button>
        <button class="btn btn-warning" ng-show="formactiontitle=='Save'" ng-click="deleterow(edit_container)">Delete</button>
        <button class="btn btn-success" ng-click="submitform()">{{ formactiontitle }} {{ edit_container.models[0].name | ucfirst }}</button>
        
      </fieldset>

  </div>

</div>