<div>
  
  <div ng-show="showadd && !showform"  class="pull-left">
    <button ng-repeat="addname in add" class="btn btn-info" style="margin-right:10px" ng-click="addclicked(addname)">Add {{ addname | ucfirst }}</button>
  </div>
  
  <div ng-show="edit_mode && showadd && !showform" class="pull-left">
    <button class="btn btn-primary" ng-click="editrow(container)" style="margin-right:10px">Edit {{ (container.models[0].name || blueprintname) | ucfirst }}</button>
  </div>

  <div ng-show="edit_mode && showadd && !showform" class="pull-left">
    <button class="btn btn-warning" ng-click="deleterow(container)" style="margin-right:10px">Delete {{ (container.models[0].name || blueprintname) | ucfirst }}</button>
  </div>


  <!--
    delete
   -->
  <div ng-show="showdelete">  

    <div class="well">
      Are you sure you want to delete {{ edit_container.models[0].name }}?
    </div>

    <button class="btn" ng-click="deleteclick(false)">No - Cancel</button>
    <button class="btn btn-danger" ng-click="deleteclick(true)">Yes - Delete</button>
  </div>

  <!--
    form
   -->
  <div ng-show="showform">

      <fieldset>


        <!--
          THIS IS TRANSCLUDED SO YOU CAN PASS ANY FORM
         -->
        <div class="well">
          <div>
            <digger-viewer settings="settings" blueprint="blueprint" container="edit_container" extra_fields="settings.extra_fields" iconfn="settings.iconfn">
            </digger-form>
          </div>

          <div ng-transclude>
          </div>

        </div>
        
        <button class="btn" ng-click="cancelform()">Cancel</button>
        <button class="btn btn-warning" ng-show="formactiontitle=='Save'" ng-click="deleterow(edit_container)">Delete</button>
        <button class="btn btn-success" ng-click="submitform()">{{ formactiontitle }} {{ edit_container.models[0].name | ucfirst }}</button>
        
      </fieldset>

  </div>

</div>