<div>

  
        <table class="table table-hover">
          <tbody>
            <tr 
              style="cursor:pointer;" 
              ng-repeat="row in rows | searchContainers:search | namesort" 
              ng-class="{success:selected.models[0]._digger.diggerid==row.models[0]._digger.diggerid}" 
              ng-click="editrow(row)">

              <td>
                <a id="{{ row.models[0]._digger.diggerid }}"></a>
                <div class="row">
                  <div class="col-sm-6">
                    <a href="" style="text-decoration:none;">
                      <resource-icon container="row" settings="summary_settings">
                        <i style="font-size:1.2em;" title="{{ row | diggername }}" ng-class="iconfn(row)" class="fa"></i>
                      </resource-icon>
                      <big>{{ row | diggername }}</big>
                    </a>
                  </div>
                  <div class="col-sm-6">
                    <resource-summary container="row" settings="summary_settings">
                      <small style="font-size:0.8em;color:#999;">{{ row | diggersummary }}</small>
                    </resource-summary>
                  </div>
                </div>
                
              </td>

              <td width=1>
                
                <table><tr><td style="border-color:none;border-top:none;">
                <button class="btn btn-sm pull-right" ng-class="{'btn-success':row.models[0]._digger.tag=='folder','btn-info':row.models[0]._digger.tag!='folder'}" style="margin-right:10px;">
                    <i title="Edit" ng-class="iconfn(row)" class="icon-white fa"></i>
                </button>
                </td><td style="border-color:none;border-top:none;">
                <button class="btn btn-warning btn-sm pull-right" style="margin-right:10px;" ng-click="$emit('admin:delete', row); $event.stopPropagation()">
                    <i title="Delete" class="fa fa-trash-o icon-white"></i>  
                </button>
                </td></tr></table>
           
              </td>                                       
            </tr>
          </tbody>
        </table>

        
        <!--<pagination rows="rows" num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>-->

 
</div>